*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
}

/* Home Page Background Start */
.home-page-bg{
    background-image: url('../images/home-page-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Home Page Background End */

/* Navbar Start */
.navbar {
    background: linear-gradient(to right, #59138d 10%, #220f3d 160%);
    padding: 0.6rem 7%;
}
.navbar .navbar-brand img {
    width: 70px;
}
.navbar .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    padding: 0.6rem 1.5rem !important;
    border-radius: 30px;
    margin-right: 1rem;
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #59138d;
    background-color: #fff;
}
.navbar .social-btns {
    margin-left: 3rem;
    display: flex;
    gap: 1.3rem;
    background: linear-gradient(to right, #bd7d3c 20%, #8c5923 100%);
    padding: 0.55rem 1.5rem;
    border-radius: 30px;
}
.navbar .social-btns a{
    color: #fff;
    font-size: calc(0.8rem + 0.5vw);
    transition: all 0.2s ease;
}
.navbar .social-btns a:hover {
    transform: translateY(-3px);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    
}

@media screen and (max-width: 768px) {
    

}
/* Navbar End */

/* Banner Start */
.home-banner img{
    width: 100%;
}
/* Banner End */

/* About Start */
.about{
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.about .about-image{
    width: 45%;
}
.about .about-image img{
    width: 100%;
}
.about .about-content{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .about-content h1{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
}
.about .about-content h1 span{
    font-weight: 700;
}
.about .about-content p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
/* About End */

/* Impact Created Start */
.impact{
    padding: 4rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.impact .impact-content{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.impact .impact-content h2{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
}
.impact .impact-content h2 span{
    font-weight: 700;
}
.impact .impact-content p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
.impact .impact-image{
    width: 45%;
}
.impact .impact-image img{
    width: 100%;
}
/* Impact Created End */

/* Certificates Start */
.certificates{
    padding: 4rem 7%;
    overflow: hidden;
}
.certificates h3{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 700;
    text-align: center;
}
.certificates-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3.5rem;
}
.certificates-container .certificate-desc{
    width: 51%;
}
.certificates-container .certificate-desc h4{
    color: #fff;
    font-size: calc(3rem + 0.5vw);
    font-weight: 300;
}
.certificates-container .certificate-desc h4 span{
    font-weight: 700;
}
.certificates-container .certificate-desc p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 3rem;
}
.certificates-container .certificate-image{
    width: 43%;
    display: flex;
    justify-content: end;
}
.certificates-container .certificate-image img{
    width: 55%;
    height: auto;
    object-fit: contain;
}
/* Certificates End */

/* Our Clients Start */
.our-clients{
    padding: 4rem 7%;
    overflow: hidden;
}
.our-clients h5{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
    text-align: center;
}
.our-clients h5 span{
    font-weight: 700;
}
.our-clients .our-clients-slider{
    position: relative;
}
.our-clients .swiper{
    width: 80%;
    padding: 4rem 0 4rem 0;
}
.our-clients .swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    width: 260px;
    height: 260px;
    background: linear-gradient(180deg, #836c9ad3 -10%, #3a1160 95%);
    backdrop-filter: blur(10px);
}
.our-clients .swiper .swiper-slide img{
    width: 80%;
    height: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
}
.our-clients .swiper-button-next,
.our-clients .swiper-button-prev {
  color: white;
  top: 52%;
  transform: translateY(-50%);
  scale: 0.7;
  position: absolute;
  z-index: 10;
}
.our-clients .swiper-button-prev {
  left: 2rem;
}
.our-clients .swiper-button-next {
  right: 2rem;
}
/* Our Clients End */

/* Awards Start */
.awards{
    padding: 3rem 7% 3rem 7%;
}
.awards h6{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
}
.awards h6 span{
    font-weight: 700;
}
.awards-tabbing-system{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.awards-tabbing-system .tab-content{
    width: 37%;
}
.awards-tabbing-system .tab-content img{
    width: 100%;
}
.awards-tabbing-system .tab-buttons{
    width: 55%;
}
.awards-tabbing-system .tab-buttons button{
    width: 100%;
    border-radius: 0;
    padding: 1.4rem 2rem;
    background: #4c0f7ad4;
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.awards-tabbing-system .tab-buttons button.active{
    background: linear-gradient(180deg, #836c9ad3 0%, #3a1160 120%);
    backdrop-filter: blur(10px);
}
/* Awards End */

/* Client Reviews Start */
.client-reviews{
    padding: 0 7% 3rem 7%;
}
.client-reviews h6{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
}
.client-reviews h6 span{
    font-weight: 700;
}
.client-reviews-slider{
    margin-top: 3.5rem;
    position: relative;
}
.client-reviews-slider .swiper-slide{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.client-reviews-slider .review-content{
    width: 62%;
    color: #fff;
}
.client-reviews-slider .review-content p{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}
.client-reviews-slider .review-content .ratings i{
    margin-right: 2px;
    font-size: calc(0.7rem + 0.5vw);
    color: #d89756;
}
.client-reviews-slider .review-content span{
    display: block;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 800;
    margin-top: 2rem;
}
.client-reviews-slider .review-content span:last-child{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 700;
    margin-top: 0.2rem;
}
.client-reviews-slider .review-image{
    width: 28%;
}
.client-reviews-slider .review-image img{
    width: 100%;
}
.client-reviews-slider .swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
    width: 15px;
    border-radius: 5px;
    height: 4px;
    transition: all 0.2s ease;
}
.client-reviews-slider .swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px;
}
.client-reviews-slider .swiper-button-next,
.client-reviews-slider .swiper-button-prev {
  color: white;
  top: 36%;
  transform: translateY(-50%);
  scale: 0.7;
  position: absolute;
  z-index: 10;
}
.client-reviews-slider .swiper-button-prev {
  left: -3.5rem;
}
.client-reviews-slider .swiper-button-next {
  right: -3.2rem;
}
/* Client Reviews End */

/* Get In Touch Start */
.get-in-touch{
    padding: 4rem 7%;
    background-image: url('../images/get-in-touch-bg.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-in-touch h6{
    color: #fff;
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 700;
    text-align: center;
    width: 60%;
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}
.get-in-touch p{
    color: #fff;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}
.get-in-touch form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 3rem;
}
.get-in-touch input,
.get-in-touch textarea{
    padding: 0.9rem 1.2rem;
    border: none;
    outline: none;
    background: linear-gradient(to right, #bd7d3c 0%, #8c5923 70%);
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-bottom: 1rem;
}
.get-in-touch input::placeholder,
.get-in-touch textarea::placeholder{
    color: #fff;
}
.get-in-touch input:focus,
.get-in-touch textarea:focus{
    background: linear-gradient(to right, #7f501e 0%, #7f501e 0%);
}
.get-in-touch textarea{
    height: 12rem;
    resize: none;
}
.get-in-touch button{
    padding: 0.9rem 1.2rem;
    border: none;
    outline: none;
    background: linear-gradient(to right, #bd7d3c 0%, #8c5923 70%);
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 700;
    transition: all 0.2s ease;
}
.get-in-touch button:hover{
    background: linear-gradient(to right, #8c5923 0%, #bd7d3c 90%);
}
.get-in-touch button:active{
    background: linear-gradient(to right, #7f501e 0%, #7f501e 0%);
}
/* Get In Touch End */

/* Footer Start */
footer{
    padding: 6rem 7% 0 7%;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #fff;
    padding-bottom: 1.5rem;
}
.footer-content .footer-desc{
    width: 60%;
}
.footer-content .footer-desc img{
    width: 80px;
    margin-bottom: 2rem;
}
.footer-content .footer-desc p{
    margin: 0;
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
}
.footer-content .footer-contact{
    width: 35%;
}
.footer-content .footer-contact span{
    display: block;
    font-weight: 700;
    font-size: calc(1.2rem + 0.5vw);
    margin-bottom: 3rem;
}
.footer-content .footer-contact a{
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: calc(0.65rem + 0.5vw);
    margin-bottom: 0.8rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
}
.footer-content .footer-contact a i{
    padding-top: 6px;
}
.footer-content .footer-contact a:hover{
    color: #d89756;
}
.footer-copyright{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright p{
    margin: 0;
}
.footer-copyright .social-btns {
    display: flex;
    gap: 1.2rem;
    background: linear-gradient(to right, #bd7d3c 20%, #8c5923 100%);
    padding: 0.3rem 1.5rem;
    border-radius: 30px;
}
.footer-copyright .social-btns a{
    color: #fff;
    font-size: calc(0.6rem + 0.5vw);
    transition: all 0.2s ease;
}
.footer-copyright .social-btns a:hover {
    transform: translateY(-3px);
}
/* Footer End */