*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
}

/* Home Page Background Start */
.home-page-bg{
    background-image: url('../images/home-page-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Home Page Background End */

/* Navbar Start */
.navbar {
    background: linear-gradient(to right, #59138d 10%, #220f3d 160%);
    padding: 0.6rem 7%;
}
.navbar .navbar-brand img {
    width: 70px;
}
.navbar .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    padding: 0.6rem 1.5rem !important;
    border-radius: 30px;
    margin-right: 1rem;
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #59138d;
    background-color: #fff;
}
.navbar .social-btns {
    margin-left: 3rem;
    display: flex;
    gap: 1.3rem;
    background: linear-gradient(to right, #bd7d3c 20%, #8c5923 100%);
    padding: 0.55rem 1.5rem;
    border-radius: 30px;
}
.navbar .social-btns a{
    color: #fff;
    font-size: calc(0.8rem + 0.5vw);
    transition: all 0.2s ease;
}
.navbar .social-btns a:hover {
    transform: translateY(-3px);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    
}

@media screen and (max-width: 768px) {
    

}
/* Navbar End */

/* Banner Start */
.home-banner img{
    width: 100%;
}
/* Banner End */

/* About Start */
.about{
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.about .about-image{
    width: 45%;
}
.about .about-image img{
    width: 100%;
}
.about .about-content{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .about-content h1{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
}
.about .about-content h1 span{
    font-weight: 700;
}
.about .about-content p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
/* About End */

/* Impact Created Start */
.impact{
    padding: 4rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.impact .impact-content{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.impact .impact-content h2{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
}
.impact .impact-content h2 span{
    font-weight: 700;
}
.impact .impact-content p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
.impact .impact-image{
    width: 45%;
}
.impact .impact-image img{
    width: 100%;
}
/* Impact Created End */

/* Certificates Start */
.certificates{
    padding: 4rem 7%;
    overflow: hidden;
}
.certificates h3{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 700;
    text-align: end;
}
.certificates-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.certificates-container .certificate-desc{
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.certificates-container .certificate-desc h4{
    color: #fff;
    font-size: calc(3rem + 0.5vw);
    font-weight: 300;
}
.certificates-container .certificate-desc h4 span{
    font-weight: 700;
}
.certificates-container .certificate-desc p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
.certificates-container .certificate-image{
    width: 43%;
    display: flex;
    justify-content: end;
}
.certificates-container .certificate-image img{
    width: 70%;
}
/* Certificates End */

/* Our Clients Start */
.our-clients{
    padding: 4rem 7%;
    overflow: hidden;
}
.our-clients h5{
    color: #fff;
    font-size: calc(4rem + 0.5vw);
    font-weight: 300;
    text-align: center;
}
.our-clients h5 span{
    font-weight: 700;
}
.our-clients .our-clients-slider{
    position: relative;
}
.our-clients .swiper{
    width: 80%;
    padding: 3.5rem 0 5rem 0;
}
.our-clients .swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    width: 260px;
    height: 260px;
    background: linear-gradient(180deg, #836c9ad3 -10%, #3a1160 95%);
    backdrop-filter: blur(10px);
}
.our-clients .swiper .swiper-slide img{
    width: 80%;
    height: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
}
.our-clients .swiper-button-next,
.our-clients .swiper-button-prev {
  color: white;
  top: 52%;
  transform: translateY(-50%);
  scale: 0.7;
  position: absolute;
  z-index: 10;
}
.our-clients .swiper-button-prev {
  left: 2rem;
}
.our-clients .swiper-button-next {
  right: 2rem;
}
.our-clients .swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
    width: 25px;
    border-radius: 5px;
    height: 5px;
    transition: all 0.2s ease;
}
.our-clients .swiper-pagination-bullet-active {
    opacity: 1;
    width: 65px;
}
/* Our Clients End */